$primary-color: #2b2b2b;
$secondary-color: #ff383f;

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $primary-color;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    color: $secondary-color
}