header(class='header')
    div(class='logo header__logo') Логотип
    nav(class="top-menu header__logo")
        a(href="/" class="top-menu__item") Home
        a(href="/" class="top-menu__item") Services
        a(href="/" class="top-menu__item") About


